<!DOCTYPE html>
<html lang="en">
<head>
  <title>Monthly Statement</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/angular_material/1.1.0/angular-material.min.css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
  <link rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/angular-material-data-table/0.10.9/md-data-table.min.css">
  <style>

    html {
      background: #fff !important;
    }

    body {
      color: #666 !important;
      font-family: Verdana, sans-serif !important;
      background: #fff !important;
      zoom: 1; /* converts to 0.70 in js */
    }

    .courier {
      font-family: Courier New, sans-serif !important;
    }

    .color-primary,
    a {
      color: #00AEEF;
    }

    .text-right {
      text-align: right;
    }

    .text-success {
      color: #66a266;
    }

    .text-warning {
      color: #ce767d;
    }

    .float-right {
      float: right;
    }

    .capitalize {
      text-transform: capitalize;
    }

    .uppercase {
      text-transform: uppercase;
    }

    .disabled {
      color: #bbb !important;
    }

    .statement-wrap {
      margin: 0 auto;
      width: 794px;
      background: #fff;
      /* padding-top: 50px; offset for ribbon */
    }

    .statement-title {
      text-transform: capitalize;
    }

    .ps-logo-wrap {
      display: none;
    }

    .statement-web-logo {
      width: 140px;
    }

    @media print {
      .statement-web-logo {
        display: none;
      }

      .ps-logo-wrap {
        display: block;
      }

      .ps-logo {
        position: absolute;
        margin-left: 632px;
        width: 125px;
        height: 36px;
        background: url('https://images.paystand.com/v2/logo-main-full-color.svg');
        background-repeat: no-repeat;
      }
    }

    .statement-layout-column-one {
      width: 380px
    }

    .statement-icon { /* phone & email icons */
      vertical-align: middle;
      font-size: 16px;
    }

    .statement-summary-table {
      margin: 30px 0 20px 5px !important;
      max-width: 345px;
    }

    table.listing-table {
      border-collapse: collapse;
    }

    table.listing-table:after {
      content: '';
      display: block;
      height: 0px;
      visibility: hidden;
    }

    table.listing-table tr {
      display: inline-block;
    }

    table.listing-table tr:last-child td {
      border-bottom: solid 1pt #ccc;
    }

    table.listing-table th,
    table.listing-table td {
      padding: 10px 0 7px 0;
      color: #777;
      font-size: 11px;
      vertical-align: text-top;
    }

    table.listing-table th {
      padding: 10px 0 15px 0;
      font-size: 12px;
    }

    table.listing-table th:first-child {
      border-left: solid 5pt #fff;
    }

    table.listing-table td {
      border-top: solid 1pt #ccc;
      border-bottom: solid 1pt #ccc;
    }

    table.listing-table td:last-child {
      border-right: solid 1pt #ccc;
    }

    table.listing-table th.col-one,
    table.listing-table td.col-one {
      padding-left: 10px;
      width: 90px;
      text-align: left !important;
    }

    table.listing-table th.col-two,
    table.listing-table td.col-two {
      padding-left: 5px;
      width: 400px;
      text-align: left !important;
    }

    table.listing-table th.col-three,
    table.listing-table td.col-three,
    table.listing-table th.col-four,
    table.listing-table td.col-four,
    table.listing-table th.col-five,
    table.listing-table td.col-five {
      padding-right: 8px;
      text-align: right !important;
    }

    table.listing-table td.col-three,
    table.listing-table td.col-four,
    table.listing-table td.col-five {
      background: #ebeff1;
      font-family: Courier New, sans-serif !important;
      font-weight: 700;
      font-size: 0.7em !important;
      font-size: 11px !important;
      font-size: 7pt !important;
    }

    table.listing-table th.col-three,
    table.listing-table td.col-three {
      width: 95px;
    }

    table.listing-table th.col-four,
    table.listing-table td.col-four {
      width: 65px;
    }

    table.listing-table th.col-five,
    table.listing-table td.col-five {
      width: 85px;
    }

    table.listing-table td.col-footer {
      padding: 30px 10px 30px 10px;
      width: 755px;
      font-size: 10px;
      border: 0 !important;
    }

    @media print {
      table.listing-table td {
        border-bottom: solid 1pt #ccc;
        border-top: solid 1pt #ccc;
      }
    }

    .col-icon {
      border-left: solid 5px #d8cdb3;
    }

    .payment {
      border-left-color: #b1e2f5;
    }

    .dispute {
      border-left-color: #f7b0b0;
    }

    .refund {
      border-left-color: #c8b1f7;
    }

    .transfer {
      border-left-color: #c3e4c3;
    }

    .fee {
      border-left-color: #f7b69d;
    }

    .adjustment {
      border-left-color: #86a8c1;
    }

    .collectedfee {
      border-left-color: #f7efb0;
    }

    .statement-listing-type {
      padding-bottom: 10px;
    }

    .statement-data-padding {
      padding-bottom: 0.5em;
      font-size: 12px;
    }

    .statement-data-col-one {
      width: 170px;
    }

    .statement-data-padding small {
      font-size: 9px;
    }

    .statement-data-padding i {
      vertical-align: text-bottom;
    }

  </style>
</head>
<body ng-app="psStatementApp" ng-cloak>

<!--<div class="corner-ribbon top-left sticky red shadow">BETA Preview</div>-->

<div class="statement-wrap" layout-padding>

    <div style="flex-direction: column; width: 380px; text-align: center;">
        <div style="background-color: #18143b; padding-top: 30px; padding-bottom: 30px;">
            <span class="color-primary md-headline statement-title">
                <strong style="color: white">Payment Receipt</strong>
            </span>
        </div>
    </div>

    <div>
      <div class="container">
        <div class="row">
          <h3>
            <bold>Hi {{payerName}}</bold>
        </h3>
        <span>Thank you for the Payment!</span>
        </div>
        <div class="row" style="margin-top: 20px;">
          <div class="col">
            Payment ID: {{paymentId}}
          </div>
          <div class="col">
            Payment Date: {{paymentDate}}
          </div>
        </div>
      </div>
      
  </div>

    <div>
        <div style="background-color: #f7f1df; padding-top: 10px; padding-bottom: 10px; text-align: center;">
            <h3>PAYMENT DETAILS</h3> 
        </div>

        <div layout="column">
          <!-- HEADERS -->
          {{#if sageInvoices}}
            <table style="border-spacing: 30px;">
            <tr>
              <th style="text-align: center;">ITEM</th>
              <th style="text-align: center;">DUE DATE</th>
              <th style="text-align: center;">STATUS</th>
              <th style="text-align: center;">AMOUNT</th>
            </tr>
            {{#each sageInvoices}}
            {{!-- Rows --}}
              <tr>
                <td style="text-align: center;">{{this.invoiceId}}</td>
                <td style="text-align: center;">{{receivableDateDue}}</td>
                <td style="text-align: center;">{{this.statusPaid}}</td>
                <td style="text-align: center;">${{this.transAmountApplied}}</td>
              </tr>
            {{/each}}
            </table>
          {{else}}
            <div layout="row">
              <h4>
                <bold>No Invoices Linked</bold>
              </h4>
            </div>
          {{/if}}
        

          <!-- Fees -->
          <div class="row">
            <div class="col">
              Subtotal: ${{subTotal}}
            </div>
          </div>
          {{#if payerTotalFees}}
          <div class="row">
            <div class="col">
              Fee ({{customRate}}% {{#if customFlat}}+ ${{customFlat}}{{/if}}): ${{payerTotalFees}}
            </div>
          </div>
          {{/if}}
          {{#if discount}}
          <div class="row">
            <div class="col">
              Discount: -${{discount}}
            </div>
          </div>
          {{/if}}
          <div class="row">
            <div class="col">
              Total Paid: ${{totalAmount}}
            </div>
          </div>
        </div>

        <!--PAID TO SECTION-->
        <div style="margin-top: 30px;">
            <div style="background-color: #f7f1df; padding-top: 2px; padding-bottom: 2px; text-align: center;">
              <h3>PAID TO</h3> 
            </div>
            <div class="container" style="margin-top: 10px;">
              <div class="row">
                <div class="col">
                  Company Name: {{merchantCompanyName}}
                </div>
                <div class="col">
                  Contact Name: {{merchantContactName}}
                </div>
              </div>
              <div class="row">
                <div class="col">
                  Email Address: {{merchantContactEmail}}
                </div>
              </div> 
              <div class="row">
                <div class="col">
                  Billing Address
                </div>
              </div>
              <div class="row">
                <div class="col">
                  {{merchantBillingAddress}}
                </div>
              </div>
            </div>
            
        </div>

        <!-- PAID BY -->
        <div style="margin-top: 30px;">
          <div style="background-color: #f7f1df; padding-top: 2px; padding-bottom: 2px; text-align: center;">
            <h3>PAID BY</h3> 
          </div> 
          <div class="container" style="margin-top: 10px;">
            <div class="row">
              <div class="col">
                Contact Name: {{payerName}}
              </div>
            </div>
            <div class="row">
              <div class="col">
                Email Address: {{payerEmail}}
              </div>
            </div>
            <div class="row">
              <div class="col">
                Billing Address: {{payerBillingAddress}}
              </div>
            </div>
            <div class="row">
              <div class="col">
                Payment Method: {{paymentMethod}}
              </div>
            </div>
          </div>
      </div>
    </div>

</div>

<br>

<!-- Angular Material requires Angular.js Libraries -->
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-animate.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-aria.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-messages.min.js"></script>

<!-- Angular Material Library -->
<script src="https://ajax.googleapis.com/ajax/libs/angular_material/1.1.0/angular-material.min.js"></script>

<!-- Angular Material Data Table -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/angular-material-data-table/0.10.9/md-data-table.min.js"></script>

<script type="text/javascript">
  angular.module('psStatementApp', ['ngMaterial']);
</script>

</body>
</html>
